
<div id="recommend" class="w3-container city" style="padding-left: 10%;padding-right: 10%;margin-top: 5%;">
  <% for(let i=0; i<all_artical.length; i++) {%>
    <% if(all_artical[i].recomment=='1'){ %>
    <div class="col-xs-12 col-sm-12 artical_mine    <%= all_artical[i].type %>" data-toggle="modal" data-target="#myModal" onclick="get_id_artical('<%= all_artical[i]._id %>')">
      <div class="card"  id="hide_seach">
        <span style="display: none;">  <%= all_artical[i].title %></span> 

        <a class="img-card">
          <img src="<%= all_artical[i].img_pro %>" />

        </a>
  
        <br />
        <div class="card-content">
          <h4 class="card-title" id="title">
         
            <%= all_artical[i].title %>
              <i class="glyphicon glyphicon-star" style="color: #FFD355;margin: 1%;"></i>
  
           
          </h4>
  
          <div class="">
            <p style="color: lightgray;font-size: 13px"> <%= all_artical[i].date %></p>
            <p> <%= all_artical[i].short_text %></p>
          </div>
        </div>
        <div class="card-read-more">
          <a class="btn btn-link btn-block">
            Read More
          </a>
        </div>
      </div>
    </div> 
    <% }%>
     <%  }%>
</div>


